<img src={{item.image}} alt={{item.name}} />
<h2>{{item.name}}</h2>
<h3>{{item.brand}}</h3>
<h5>{{item.description}}</h5>
<h5>Price: ${{item.price}}</h5>
<h5>Quantity: {{item.purchaseQuantity}}</h5>
{{edit-item item=item editItem="editItem"}}
