<h4>Review for {{review.item.name}} by {{review.item.brand}}:</h4>
<h3>{{review.username}}</h3>
<h5>{{formatted-date review}}</h5>
<h6>{{review.rating}}/5</h6>
<p>{{review.body}}</p>
{{edit-review review=review editReview="editReview"}}
