{{#each shoppingCart.products as |product|}}
  <h2>{{#link-to 'item' product.id}}{{product.name}}{{/link-to}}</h2>
  <h3>{{product.brand}}</h3>
  <h3>Price: ${{product.price}}</h3>

  <button {{action 'removeItemFromCart' product}} class='btn btn-info'>Remove from Cart</button>
{{/each}}

Total: ${{cartTotal}}
