{{#if editItemForm}}
  <form>
    <div class="form-group">
      <label for="name">Item Name: </label>
      {{input value=name placeholder=item.name}}
    </div>

    <div class="form-group">
      <label for="brand">Item Brand: </label>
      {{input value=brand placeholder=item.brand}}
    </div>

    <div class="form-group">
      <label for="description">Item Description: </label>
      {{textarea rows="7" cols="40" value=description placeholder=item.description}}
    </div>

    <div class="form-group">
      <label for="image">Item Image URL: </label>
      {{input value=image placeholder=item.image}}
    </div>

    <div class="form-group">
      <label for="price">Item Price: </label>
      {{input value=price placeholder=item.price}}
    </div>

    <button {{action 'editItem' item}} class="btn btn-success">Save</button>
  </form>
{{else}}
  <button {{action 'editItemForm'}} class="btn btn-success">Edit item</button>
{{/if}}
