{{#if addReviewForm}}
  <form>
    <div class="form-group">
      <label for="username">Username: </label>
      {{input type="text" value=username}}
    </div>

    <div class="form-group">
      <label for="date">Date Entered: </label>
      {{input type="date" value=date}}
    </div>

    <div class="form-group">
      <label for="rating">Rate this Item (out of 5): </label>
      {{input type="number" min=0 max=5 value=rating}}
    </div>

    <div class="form-group">
      <label for="body">Review Body: </label>
      {{textarea rows="7" cols="40" type="text" value=body}}
    </div>

    <button class="btn btn-success" {{action 'saveReview' item}}>Add this Review</button>
  </form>
{{else}}
  <button class="btn btn-info" {{action 'addReviewForm'}}>Add a Review</button>
{{/if}}
