<div class="row">
  <div class="col-md-6">
    <img src={{model.image}} alt={{model.name}} />
  </div>

  <div class="col-md-6">
    {{item-tile item=model}}
    {{review-tile item=model }}
  </div>

  {{new-review item=model review=review saveReview="saveReview"}}
</div>
